h1 {
    color: burlywood;
}

img {
    width:400px ;
}

#thirdDiv {
    height:600PX;
    width: 500PX;
    background-color: aquamarine;
    padding: 50px;
    border: solid;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}